<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex"> <!-- Flex elrendezés -->

<div class="bg-white p-6 rounded-lg shadow-md w-96 min-w-96 max-w-96 mt-4" style="margin-left: 30%;"> <!-- Margin 20% -->
    <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">Bejelentkezés</h1>
    <form action="/login" method="POST" class="space-y-4 mt-4">
        <div>
            <label for="username" class="block text-gray-700">Felhasználónév</label>
            <input type="text" id="username" name="username" class="w-full p-2 border border-gray-300 rounded" required>
        </div>
        <div>
            <label for="password" class="block text-gray-700">Jelszó</label>
            <input type="password" id="password" name="password" class="w-full p-2 border border-gray-300 rounded" required>
        </div>
        <div>
            <button type="submit" class="mt-4 w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                Bejelentkezés
            </button>
        </div>

        <div class="mt-4">
            <a href="/register" class="text-blue-500 hover:underline">Regisztráció</a>
        </div>
    </form>
</div>

</body>
</html>
